@font-face {
    font-family: "IRANYekan-Regular";
    src: url('../fonts/IRANYekanXFaNum-Regular.woff') format("woff");
}

@font-face {
    font-family: "IRANYekan-Bold";
    src: url('../fonts/IRANYekanXFaNum-Bold.woff') format("woff");
}

body {
    font-family: "IRANYekan-Regular" !important;
    user-select: none;
    overflow-x: hidden;
    transition: all .4s;
}

* {
    transition: all .4s;
}

a {
    text-decoration: none !important;
    cursor: pointer;
}
.row{
    margin-left: 0;
    margin-right: 0;
}
input {
    background-color: transparent;
}

.font-bold {
    font-family: "IRANYekan-Bold";
}

/* background */
.bg-main {
    background-color: #0B49DC;
}
.bg-main2{
    background-color: #051F5C;
}
.bg-main3{
    background-color: #131944;
}
.bg-main4{
    background-color: #f4f7fe;
}
.bg-main5{
    background-color: #8FABEF;
}
.bg-second {
    background-color: #EA9117 !important;
}

.bg-gray {
    background-color: #F1F1F1;
}
.bg-input{
    background-color: #F8F8F8;
}
/* text color */
.text-main {
    color: #293268;
}

.text-main2 {
    color: #0B49DC;
}

.text-second{
    color: #EA9117;
}
/* cursor */
.cursor {
    cursor: pointer;
}

/* z index */
.-z-1 {
    z-index: -1;
}

.z-1 {
    z-index: 1;
}

.z-10 {
    z-index: 10;
}

/* padding */


/* margin */
.m-18{
    margin: 18px;
}
.-mt-255 {
    margin-top: -255px;
}

/* font size */
.fs-10 {
    font-size: 10px;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-24 {
    font-size: 24px;
}
.fs-32 {
    font-size: 32px;
}
.fs-40 {
    font-size: 40px;
}
.fs-56 {
    font-size: 56px;
}
.fs-64 {
    font-size: 64px;
}

/* max width */
.max-w-224{
    max-width: 224px;
    width: 100%;
 }
 .max-w-284{
    max-width: 284px;
    width: 100%;
 }
 .max-w-620{
    max-width: 620px;
    width: 100%;
 }
 .max-w-979{
    max-width: 979px;
    width: 100%;
 }
 .max-w-1200{
    max-width: 1200px;
    width: 100%;
 }
 /* width */
 .w-26 {
     width: 26px !important;
    }
    .w-32 {
    width: 32px !important;
}
.w-35 {
    width: 35px !important;
}
.w-40 {
    width: 40px !important;
}
.w-42 {
    width: 42px !important;
}
.w-46 {
    width: 46px !important;
}

.w-47 {
    width: 47% !important;
}
.w-48 {
    width: 48px !important;
}
.w-52 {
    width: 52px !important;
}
.w-64 {
    width: 64px !important;
}
.w-65 {
    width: 65px !important;
}
.w-70 {
    width: 70px !important;
}
.w-90 {
    width: 90px !important;
}
.w-160 {
    width: 160px !important;
}
.w-190 {
    width: 190px !important;
}
.w-797{
   width: 797px;
}
/* height */
.h-5 {
    height: 5px;
}
.h-26 {
    height: 26px;
}
.h-32 {
    height: 32px;
}
.h-35 {
    height: 35px;
}
.h-38 {
    height: 38px;
}
.h-42 {
    height: 42px;
}
.h-46 {
    height: 46px;
}
.h-52 {
    height: 52px;
}
.h-60 {
    height: 60px;
}
.h-64 {
    height: 64px;
}
.h-70 {
    height: 70px;
}
.h-77 {
    height: 77px;
}
.h-80 {
    height: 80px;
}
.h-140 {
    height: 140px;
}
.h-213 {
    height: 213px;
}
.h-385 {
    height: 385px;
}
.h-450 {
    height: 450px;
}
.h-470 {
    height: 470px;
}
.h-475 {
    height: 475px;
}
/* shadow */
.shadow-1{
    box-shadow: 6px 6px 50px 5px #0000001F;
}
.shadow-2{
    box-shadow: 0px 0px 30px 0px #0000001F;
}
.shadow-3{
    box-shadow: 0px 0px 30px 0px #00000026;
}
.shadow-4{
    box-shadow: 0px 4px 20px 0px #0000000D;
}
.shadow-5{
    box-shadow: 0px 28px 24px -10px #95A3FA40;
}
/* rotate */
.-rotate-180 {
    transform: rotate(-180deg);
}
/* border */
.border-main{
    border: 1px solid #08349C;
}
 .border-2-purple{
    border: 2px solid #E7EDFC80;
 }
/* rounded */
.rounded-3px {
    border-radius: 3px;
}
.rounded-4 {
    border-radius: 4px;
}
.rounded-5 {
    border-radius: 5px;
}
.rounded-br-9 {
    border-bottom-right-radius: 9px;
}
.rounded-10 {
    border-radius: 10px;
}
.rounded-12 {
    border-radius: 12px!important;
}
.rounded-16 {
    border-radius: 16px;
}
.rounded-20 {
    border-radius: 20px;
}
.rounded-r-20 {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.rounded-l-20 {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.rounded-25{
    border-radius: 25px;
}
.rounded-28 {
    border-radius: 28px;
}
.rounded-tr-34 {
    border-top-right-radius: 34px;
}
.rounded-43{
    border-radius: 43px;
}
.rounded-tr-112 {
    border-top-right-radius: 112px;
}

.rounded-tl-150 {
    border-top-left-radius: 150px;
}

/* bottom */
.bottom-8 {
    bottom: 8px;
}
.-bottom-18 {
    bottom: -18px;
}
.bottom-27 {
    bottom: 27px;
}
.-bottom-40 {
    bottom: -40px;
}
.bottom-47 {
    bottom: 47px;
}
.-bottom-70 {
    bottom: -70px;
}
/* top */
.top-auto {
    top: auto;
}
.-top-2 {
    top: -2px;
}
.-top-9 {
    top: -9px;
}
.-top-18 {
    top: -18px;
}
.-top-123 {
    top: -123px;
}
.-top-153 {
    top: -153px;
}

.-top-165 {
    top: -165px;
}

.top-189 {
    top: 189px;
}

/* left */
.left-auto {
    left: auto !important;
}
.-left-17 {
    left: -17px;
}
.left-44{
    left: 24px;
}
/* right */
.-right-3 {
    right: -3px;
}
.-right-17 {
    right: -17px;
}
.right-51 {
    right: 51px !important;
}
.-right-80 {
    right: -80px;
}
.-right-140 {
    right: -140px;
}
.right-140 {
    right: 140px !important;
}

/* outline */
.outline-none {
    outline: none;
}
/* overflow */
.overflow-x-hidden{
    overflow-x: hidden;
}
/* hover */

.button-hover-2 ,.button-hover-1{
    position: relative;
    overflow: hidden;
}
.button-hover-3 {
    position: fixed;
    overflow: hidden;
}
.button-hover-1::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 550px;
    height: 550px;
    margin: auto;
    background: #ea9117;
    border-radius: 50%;
    transform-origin: top center;
    transform: translateX(-50%) translateY(-5%) scale(0.4);
    transition: transform 0.9s;
}
.button-hover-2::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 550px;
    height: 550px;
    margin: auto;
    background: #0b49dc;
    border-radius: 50%;
    transform-origin: top center;
    transform: translateX(-50%) translateY(-5%) scale(0.4);
    transition: transform 0.9s;
}

.button-hover-2:hover::before,.button-hover-1:hover::before {
    transition: transform 1s;
    transform: translateX(-45%) translateY(0) scale(1);
    transform-origin: bottom center;
}

.button-hover-2 *,.button-hover-1 * {
    position: relative;
}
.blog-hover:hover h2,footer ul li:hover a,.second-hover:hover{
    color: #ea9117 !important;
}
.social-hover:hover svg path{
    fill: #131944;
}
/* global styles */
.cursor {
    cursor: pointer;
}
.text-justify{
    text-align: justify;
}
.form-check-input:checked {
    background-color: #EA9117;
    border-color: #EA9117;
  }
  .form-check-input:focus {
    box-shadow: none;
  }

/* accordion */

.accordionBtn img {
    transition: all .4s;
}
.accordionBtn img.active {
    transform: rotate(0deg);
}
.accordionContent{
    max-height: 0;
    transition: all .4s;
    overflow: hidden;
}

.accordionContent.active{
    max-height: 2000px;
}

/* swiper */
#banner .swiper-button-next::after,
#banner .swiper-button-prev::after {
    content: none !important;
}

#category .swiper-button-next2 {
    right: -70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#priceList .swiper-button-next {
    right: -20px;
}
#category .swiper-button-prev2 {
    left: -70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#category .swiper-button-prev2,#category .swiper-button-next2 {
    top: 44%;
}
#priceList .swiper-button-prev{
    left: -20px;
}
#category .swiper-button-next2,
#category .swiper-button-prev2,
#priceList .swiper-button-next,
#priceList .swiper-button-prev {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 100%;
    box-shadow: 0px 18px 20px -8px #110C2214;
    transition: all .4s;
}

#category .swiper-button-next2:hover,
#category .swiper-button-prev2:hover,
#category .swiper-slide:hover > div,
#priceList .swiper-button-next:hover,
#priceList .swiper-button-prev:hover {
    background-color: #ea9117;
}
#category .swiper-button-next2:hover path,
#category .swiper-button-prev2:hover path{
  stroke: white;
}
#category .swiper-button-next2:hover::after,
#category .swiper-button-prev2:hover::after,
#priceList .swiper-button-next:hover::after,
#priceList .swiper-button-prev:hover::after {
    color: white;
}

#category .swiper-button-next2::after,
#category .swiper-button-prev2::after,
#priceList .swiper-button-next::after,
#priceList .swiper-button-prev::after {
    color: black;
    font-size: 20px;
    font-weight: bold;
    transition: all .4s;
}
#category .swiper-slide:hover h2,
.services .swiper-slide:hover h3,
.services2 .swiper-slide:hover h3,
.services .swiper-slide:hover p,
.services2 .swiper-slide:hover p
{
    color: #ea9117;
}
.services .swiper-slide:hover path,
.services2 .swiper-slide:hover path
{
    fill: #ea9117;
}
.services .swiper-slide:hover > div,
.services2 .swiper-slide:hover > div
{
    border: 1px solid #ea9117;
}
#priceList .swiper-slide p.first{
    display: none;
}
#priceList .swiper-slide:hover p.first{
    display: block;
}
#priceList .swiper-slide:hover p{
    color: #0B49DC;
}
#priceList .swiper-slide:hover path{
    fill: #0B49DC;
}
/* menu */
.dropdownBtn:hover .dropdownMenu{
    opacity: 100%;
    visibility: visible;
    top: 20px;
}
.dropdownMenu{
    opacity: 0;
    visibility: hidden;
    transition: all .4s;
    top: 50px;
}
header ul li:hover,
header ul .dropdownMenu a:hover,
.mobileMenu a:hover
{
    color: #0B49DC!important;
}
header ul .dropdownMenu a:hover svg path,
.mobileMenu a:hover svg path
{
    fill: #0B49DC!important;
}
/* steps */
#steps{
    background-image: url('../img/background.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* scrollbar  */
#scroll-custom {
    scrollbar-width: thin;
    scrollbar-color: #0B49DC white;
  }
  #scroll-custom::-webkit-scrollbar {
    background-color: #E3E3E3;
    width: 4px;
  }
  #scroll-custom::-webkit-scrollbar-track {
    border-radius: 100vw;
    background-color: white;
    margin-block: .5em;
    margin-inline: 1em;
  }
  
  #scroll-custom::-webkit-scrollbar-thumb {
    border-radius: 37px;
    background-color: #0B49DC;
    border-radius: 2rem !important;
    border: 0.3rem solid #1e1f22 !important;
  }
  /* tabs */
  .nav-pills .nav-link.active{
    color: white!important;
    background-color: #EA9117;
    border-radius: 12px!important;
  }
  #loginModal .nav-pills .nav-link.active{
    border-radius: 50rem !important;
    background-color: #0B49DC;
  }
  /* goToUp */
  #goToUp{
    opacity: 0;
    visibility: hidden;
  }
/* responsive */
@media only screen and (max-width:1200px) {
    .fs-xl-14{
        font-size: 14px;
      }
  .fs-xl-45{
    font-size: 45px;
  }
}
@media only screen and (max-width:992px) {
   .rotate-lg-270{
    transform: rotate(270deg)
   }
   .rotate-lg-90{
    transform: rotate(90deg)
   }
   .position-lg-static{
    position: static!important;
   }
   .rounded-tl-lg-20{
    border-top-left-radius: 20px;
   }
   .w-lg-100{
    width: 100%!important;
   }
   .w-lg-230{
    width: 230px!important;
   }
   .h-lg-328{
    height: 328px!important;
   }
   .-mt-lg-223{
    margin-top: -223px;
   }
   .fs-lg-14{
    font-size: 14px;
   }
   .-top-lg-29{
    top: -29px;
   }
   .right-lg-0{
    right: 0;
   }
   .right-lg-61{
    right: -61px;
   }
}
@media only screen and (max-width:768px) {
    .fs-md-10{
        font-size:10px;
    }
    .fs-md-12{
        font-size:12px;
    }
    .fs-md-14{
        font-size:14px;
    }
    .fs-md-18{
        font-size:18px;
    }
    .w-md-36{
        width: 36%;
    }
    .w-md-112{
        width: 112px!important;
    }
    .w-md-114{
        width: 114px!important;
    }
    .h-md-auto{
        height: auto;
    }
    .h-md-45{
        height: 45px;
    }
    .top-md-82{
        top: 82px;
    }
    .right-md-15{
        right: -15px;
    }
}
@media only screen and (max-width:576px) {
    .w-sm-12{
        width: 12px;
    }
    .w-sm-14{
        width: 14px!important;
    }
    .w-sm-26{
        width: 26px!important;
    }
    .w-sm-28{
        width: 28px!important;
    }
    .w-sm-32{
        width: 32px!important;
    }
    .w-sm-125{
        width: 125px!important;
    }
    .w-sm-170{
        width: 170px!important;
    }
    .fs-sm-24{
        font-size:24px;
    }
    .fs-sm-20{
        font-size:20px;
    }
    .fs-sm-16{
        font-size:16px;
    }
    .fs-sm-14{
        font-size:14px;
    }
    .fs-sm-12{
        font-size:12px;
    }
    .fs-sm-10{
        font-size:10px;
    }
    .fs-sm-8{
        font-size:8px;
    }
    .h-sm-16{
        height: 16px;
    }
    .h-sm-32{
        height: 32px;
    }
    .h-sm-88{
        height: 88px;
    }
    .h-sm-142{
        height: 142px;
    }
    .h-sm-260{
        height: 260px;
    }
    .h-sm-279{
        height: 279px!important;
    }
    .rounded-sm-12{
        border-radius: 12px!important;
    }
    .rounded-sm-0{
        border-radius: 0!important;
    }
    .-mt-sm-151{
        margin-top: -151px;
    }
    .text-smm-center{
        text-align: center!important;
    }
    .right-sm-11{
        right: -11px;
    }
    .left-sm-11{
        left: -11px;
    }
}